<nav class="navbar navbar-dark bg-primary text-white justify-content-between"
        style="font-family: 'Righteous', cursive;">
        <a href="/user/<%=followLink%>" class="navbar-brand">Mini Tweet</a>
        <form class="form-inline" action="/user/<%=followLink%>/search/">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0 bg-dark text-white" type="submit">Search</button>
        </form>
    </nav>