<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/header") %>
    <%- include("partials/css") %>
</head>

<body>
    <h1>Followers</h1>
    <% followerData.forEach((element) => { %>
    <a href='/user/<%=element.id%>'>
        <%= element.username %>
    </a>
    <br>
    <% }) %>
</body>

</html>