<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/header") %>
    <%- include("partials/css") %>
</head>

<body>
    <div>
        <h5>Welcome, <%= userFullname %></h5>
        <a href="/logout">Log out</a>
    </div>

</body>

</html>